/* TODO : buttons, firstchild nav_sx,  */


/* Global Rules */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: blue;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    height: 5000px;
    color:black;
}
h1{
    font-size: 250%;
    margin-bottom: 20px;
}
a{
    color: inherit;
    text-decoration: none;
}
.fas{
    margin-left: 5px;
}
.width {
    width: 80%;
    margin: auto;
    max-width: 1080px;
}

/*? header */
    /*Upper header */
header .contain_upper_header {
    background-color: #F4F9FD;
    border-bottom: 1px solid black;
    /* border: dotted black 3px; */
}
.btn_orange {
    background-color: #FE775A;
    color: white;
    text-transform: capitalize;
    border-radius:3px;
}
header .upper_header {
    font-size: 90%;
    height: 60px;
    /* border: solid 3px greenyellow; */
}
header .upper_header .left_minor_nav{
    float: left;
    transform: translateY(110%);
    /* border: 2px solid red; */
}
header .right_minor_nav {
    float: right;
    transform: translateY(20%);
    /* border: 2px solid red; */
}
header .upper_header ul li,
header .lower_header ul li {
    display: inline-block;
    text-decoration: none;
    margin-left: 20px;
    font-weight: 500;
}
header .upper_header #language {
    border-right: solid 1px black;
    margin-right: 10px;
    padding-right: 10px;
}
header .upper_header a#getfree{
    display: block;
    padding: 10px 10px;
}
header .upper_header #search {
    color:#00A4BD;
}
header .upper_header #btn_login{
    border: 1px solid  #FE775A;
    color: #FE775A;
    padding:10px;
    background-color:inherit;
    border-radius:3px;
}

    /*Lower header  */
header .contain_lower_header {
    background-color: #FFFFFF;
        /* border: dotted black 3px; */
}
header .lower_header{
    height: 60px;
    position: relative;
    /* border:  solid blue 3px; */
}
header .lower_header nav{
    float:right;
    transform: translateY(100%);
}
header .lower_header img{
    transform: translateY(50%);
}
header .upper_header::after,
header .lower_header::after {
    content: "";
    position: absolute;
    display: block;
}

/* ? jumbotron AKA hero*/
.jumbotron_container{
    position: relative;
    height: 550px;
    background-color: #fff2ee;   
    background-image: url("../img/jumbotron.png"); 
    background-repeat: no-repeat;
    background-position: 100% 42%;
        /* border: 2px dashed darkkhaki; */
}
.jumbotron{
    /* border: blue dotted 3px;; */
}
.jumbotron .title_box {
    width: 45%;
        /* border: 2px dashed peru; */
}
.jumbotron p{
    line-height: 2;
}
.jumbotron .btn_hubspot_free {
    padding: 20px 40px;
    border: none;
    margin: 30px 0;

}
    /* Divider */ 
section.divider {
    height: 60px;
    width:100%;
    background-color: #AFEBE4;
    border-top: black 3px solid;
    border-bottom: black 3px solid;
}

/* ? Main */
    /* introduction */
.main_container {
    background-color: #F4F9FD;
        border: dashed green 5px;
}
main .main_introduction{
    text-align: center;
}
main .main_introduction img{
    height:200px ;
    margin-top: 25px;
}
main .main_introduction p{
    line-height: 1.5;
    margin: 30px 0;
}
    /* main content  */
main .box{
    background-color: white;
    box-shadow: 2px 2px black;
}
